@media screen and (max-width:1200px){
    .desktop-nav{
        display:none;
    }
    #profile{
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
}
@media screen and (min-width:1201px){
    .hamburger-nav{
        display:none;
    }
}