@media screen and (max-width:1200px){
    .desktop-nav{
        display:none;
    }
    #profile{
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .section_profile-pic img{
    height:40vh;
    width:40vh;
    border-radius:20vh;
    }
}
@media screen and (min-width:1201px){
    .hamburger-nav{
        display:none;
    }
}