@media screen and (max-width:1200px){
    body{
        justify-content:center;
    }
    .desktop-nav{
        display:none;
    }
    section{
        margin:0 1rem;    
    }
    #profile{
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .section_profile-pic img{
    height:250px;
    width:250px;
    border-radius:125px;
    }
    .about-container{
        flex-direction:column;
    }
    .arrow{
        display:none;
    }
    #experience,#projects,#contact{
        margin:0 2rem;
    }
    #contact{
        align-items: center;
        max-height:50vh;
        min-height:fit-content;
    }
    .contact-outer-container{
        flex-direction:column;
        gap:0rem;
        align-items:center;
        justify-content: center;
        width:80%;
    }
    .nav-links{
        flex-direction: column;
        font-size:medium;
        gap:0.5rem;
    }
    #contact a{
        font-size:medium;
    }
    footer{
        height:fit-content;
    }
    .footer-p{
        margin-top:2rem;
    }
    
}
@media screen and (min-width:1201px){
    .hamburger-nav{
        display:none;
    }
}