
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins", sans-serif;
}

p{
    color: rgb(85,85,85);
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

nav, .nav-links{
    display:flex;
}

nav{
    height:17vh;
    justify-content: space-around;
    align-items:center;
}

.nav-links{
    gap:2rem;
    list-style: none;
}

a{
    font-size:1.3rem;
    color:black;
    text-decoration: none;
    text-decoration-color:white;
}

a:hover{
    color:rgb(181, 181, 181);
    text-decoration: underline;
    text-decoration-color:rgb(181, 181, 181);
    text-underline-offset:1rem;
}

.logo{
    font-size:2rem;
}

.logo:hover{
    cursor:default;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:24px;
    width:30px;
    cursor:pointer;
}
.hamburger-icon.open{
    max-height:0px;
    overflow:hidden;
}

.close-icon{
    font-size:60px;
    font-weight: 50;
    line-height:24px;
    max-height:0px;
    overflow:hidden;
}

.close-icon.open{
    max-height:50px;
    cursor:pointer;
}

.hamburger-icon span{
    background-color:black;
    width:30px;
    height:2px;
}

.hamburger-menu{
    display:flex;
    flex-direction: column;
    position: relative;
}

.menu-links{
    list-style:none;
    position: absolute;
    top:100%;
    right:0;
    line-height:2.5rem;
    max-height:0px;
    overflow:hidden;
}

.menu-links.open{
    max-height:450px;
    cursor:pointer;
    padding-bottom:10px;
}


