
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: rgb(205, 205, 205);
}

p{
    color: rgb(85,85,85);
}

html{
    scroll-behavior: smooth;
}

a, .btn{
    transition: all 300ms ease;
}

nav, .nav-links{
    display:flex;
}

nav{
    height:17vh;
    justify-content: space-around;
    align-items:center;
}

.nav-links{
    gap:2rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    font-size:1.5rem;
    color:black;
    text-decoration: none;
}

a:hover{
    color:rgb(81, 81, 81);
    text-decoration: underline;
    text-decoration-color:rgb(81, 81, 81);
    text-underline-offset:1rem;
}

.logo{
    font-size:2rem;
}

.logo:hover{
    cursor:default;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height:24px;
    width:30px;
    cursor:pointer;
}
.hamburger-icon.open{
    max-height:0px;
    overflow:hidden;
}

.close-icon{
    font-size:60px;
    font-weight: 50;
    line-height:24px;
    max-height:0px;
    overflow:hidden;
}

.close-icon.open{
    max-height:50px;
    cursor:pointer;
}

.hamburger-icon span{
    background-color:black;
    width:30px;
    height:2px;
}

.hamburger-menu{
    display:flex;
    flex-direction: column;
    position: relative;
}

.menu-links{
    list-style:none;
    position: absolute;
    top:100%;
    right:0;
    line-height:2.5rem;
    max-height:0px;
    overflow:hidden;
    background-color: rgb(205, 205, 205);
    border-radius:0.5rem;
}

.menu-links.open{
    max-height:450px;
    cursor:pointer;
    padding-bottom:10px;
}

section{
    min-height:fit-content;
    height:80vh;
    margin:0 10rem;
    box-sizing:border-box;
    padding-top:5rem;
}
#profile{
    display:flex;
    justify-content:center;
    gap:5rem;
    align-items:center;

}

.section_profile-pic img{
    height:50vh;
    width:50vh;
    border-radius:25vh;
    border-style:solid;
    border-width:2px;
    border-color:black;
}
.section_text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}

.text-p1{
    font-size:16px;
    font-weight: 600;
    text-align: center;
}

.name-text{
    font-size:3rem;
    text-align:center;
}

.text-p2{
    font-size:1.75rem;
    font-weight: bolder;
    margin-bottom:1rem;
    text-align:center;
}

.button-container,.socials-container{
    display:flex;
    justify-content:center;
    gap:1rem;
    align-items: center;
}

.btn{
    padding:1rem;
    width:8rem;
    border-radius:2rem;
    transition:all 300ms ease;
    font-family:arial;
    font-weight:600;
    cursor:pointer;
}

.btn-color-1{
    background:none;
}

.btn-color-1:hover{
    background-color:black;
    color:white;
}

.btn-color-2{
    background-color:rgb(47, 47, 47);
    color:white;
}

.btn-color-2:hover{
    background-color:black;
}

.socials-container img, .icon{
    height:32px;
    width:32px;
    border-radius:16px;
    margin-top:1rem;
    cursor:pointer;
}

#about,#experience{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    position:relative;
}

.about-container-section{
    display:flex;
    flex-direction:column;
        max-width:102vh;
}

.about-container{
    display:flex;
    justify-content: center;
    align-items:center;
    gap:2rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

.about-details-container{
    text-align:center;
    padding:1.5rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-radius:2rem;
    width:50vh;
    height:20vh;
}


.arrow{
    height:32px;
    width:32px;
    position:absolute;
    right:-5rem;
    bottom:2.5rem;
}

#experience{
    margin-top:5rem; 
}

.experience-details-container{
    text-align:center;
    padding:1.5rem;
    border:rgb(53, 53, 53) 0.1rem solid;
    border-radius:2rem;
}

.experience-details-container p{
    margin-bottom:2rem;
}

.articles-container{
    display:flex;
    flex-wrap:wrap;
    text-align: initial;
    gap:2rem;
    justify-content: space-around;
}

article{
    display:flex;
    width:10rem;
    gap:0.5rem;
    justify-content:space-around;
}


.projects-container{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:3rem;
}

.project-image{
    height:30vh;
    width:30vh;
    border-radius:0.5rem;
    margin-bottom: 1rem;
}

.project-links{
    display:flex;
    justify-content: center;
    gap:1rem;
    margin-top:1rem;
}

.project-viewer-btn{
    padding:0.5rem;
    width:6rem;
}

#projects,#contact{
    position:relative;
    margin-top: 10rem;
}

#contact{
    max-height:60vh;
    display:flex;
    flex-direction: column;
}

.contact-outer-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:rgb(163, 163, 163) 0.1rem solid;
    border-radius:2rem;
    margin:2rem auto;
    padding:0.5rem;
}

.contact-info-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:1rem;
    gap:0.5rem;
}

.contact-info-container img{
    margin-top:0;
}

.email{
    height:40px;
    width:40px;
}

.last-arrow{
    transform:scaleY(-1);
}

footer{
    height:26vh;
    margin:0 1rem;
}
.footer-p{
    font-weight: 400;
}
